<div class="intro">
  <h2>Recent posts</h2>
</div>
<div *ngIf="posts.length !== 0" class="wrap">
  <div *ngFor="let post of posts | async" class="post shadow-diffuse">
    <h3>{{ post.title | shorten: 10 }}</h3>
    <img src={{post.image}} alt="">
    <div class="post-info">
      <p>
        {{ post.likes.length }}
        <i class="fa-regular fa-heart"></i>
      </p>
      <p>{{ post.comments.length }} <i class="fa-regular fa-comment"></i></p>
    </div>
    <div class="created-at">
      <p style="font-style: italic">
        {{ post.created_at | date: "MMM d, y, h:mm a" }}
      </p>
    </div>
    <div class="button">
      <a routerLink="/details/{{ post.id }}" id="details">Details</a>
    </div>
  </div>
</div>

<div *ngIf="posts.length == 0" class="posts-none">
  <h3>No posts yet</h3>
  <p>Be the first to post!</p>
</div>
