form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 1px #919191;
  backdrop-filter: blur(10px);
  overflow: visible;
  gap: 15px;
}

h1 {
  color: #128d22;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
}
label {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bolder;
  font-size: 20px;
  background-color: #128d22;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
input {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #128d22;
}
input:focus {
  border: 3px solid #128d22;
}
.data{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email-group, .password-group{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button {
  background-color: #128d22;
  border: none;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 10px;
}
.me {
  position: absolute;
  background-color: rgb(250, 103, 103);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  border: 3px solid red;
}
.login {
  color: #128d22;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  font-weight: bold;
}
.login p{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.login a {
  color: white;
  background-color: #128d22;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

@media screen and (max-width: 426px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    border: 3px solid #128d22;
    border-radius: 10px;
  }
}
