<form [formGroup]="editForm"
(ngSubmit)="onSubmit()">
    <h3>Edit Post</h3>

    <div class="group-a">
        <input formControlName="keyword" type="text" class="form-control" id="keyword" aria-describedby="keywordHelp" placeholder="Keyword" (value)="post.keyword">
        <input formControlName="title" type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Title" (value)="post.title">
    </div>
    <div class="image-form">
        <label for="image">Image</label>
        <input formControlName="image" type="text" class="form-control" id="image" placeholder="Image" (value)="post.image">
    </div>
    <div class="description-form">
        <label for="description">Description</label>
        <textarea formControlName="description" class="form-control" id="description" rows="5" (value)="post.description"></textarea>
    </div>
    <div class="button-submit">
        <button type="submit" class="btn btn-primary">Edit Post</button>
    </div>
</form>