@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

.post-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.post {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 1px #919191;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  width: 450px;
}
.post img {
  position: static;
  width: 100%;
  height: 100%;
}
.post p {
  font-size: 19px;
}
h3 {
  color: #124d1b;
  font-size: 25px;
  margin: -2px;
}
.stats {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 36px;
  font-weight: bold;
  gap: 50px;
}
.stats i {
  width: 20px;
  height: 20px;
}
.stats .likes-num,
.stats .comments-num {
  font-size: 25px;
}
.stats .date-num {
  font-size: 15px;
}
.comments {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 1px #919191;
  gap: 15px;
  padding: 15px;
}
.comments h3 {
  text-align: center;
  color: #124d1b;
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.comment {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.comment i {
  color: #128d22;
}
.comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.comment-header img {
  position: static;
  width: 50px;
  height: 50px;
}
.comment-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info {
  width: 70%;
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
}
.info img {
  position: static;
  width: 20px;
  height: 20px;
}
.comment-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  font-size: 15px;
  font-style: italic;
}
.comment > p {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.no-comments {
  font-size: 25px;
  color: #124d1b;
  font-weight: bolder;
}
.add-comment {
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 1px #919191;
}
.add-comment h3 {
  text-align: center;
  color: #124d1b;
  font-size: 25px;
  margin: 15px;
}
.add-comment textarea {
  height: 100px;
  font-size: 15px;
  border: 3px solid #128d22;
  border-radius: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
  margin: 15px;
}
.btn.btn-primary {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 35px;
  border: 4px solid #128d22;
  border-radius: 10px;
}
#like {
  background-color: #128d22;
  color: white;
}
#edit {
  background-color: rgb(58, 94, 252);
  border-color: rgb(58, 94, 252);
  color: white;
}
#delete {
  background-color: red;
  border-color: red;
  color: white;
}

#add-comment {
  background-color: #128d22;
  color: white;
  border-color: #128d22;
}

@media screen and (max-width: 400px) {
  .post-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .post {
    width: 250px;
    gap: 5px;
  }
  .stats {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .btn.btn-primary {
    margin: 15px;
  }
  .add-comment {
    width: 90%;
    margin-bottom: 17px;
  }
  .comments {
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 5px;
  }
  .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comment-user {
    position: relative;
    font-size: 14px;
  }
}
