<div class="post-wrap">
    <div class="post">
      <p class="author"><img id="author-img" src="https://www.pngkey.com/png/full/115-1150152_default-profile-picture-avatar-png-green.png">{{post.user}}</p>
      <h3>{{post.title}}</h3>
      <p>
        {{post.description}}
      </p>
      <img src="{{post.image}}" alt="">
    </div>
    <div class="stats">
        <div class="likes-num">
              <p>{{post.likes.length}} <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
        </div>
        <div class="comments-num">
              <p>{{post.comments.length}} <img src="https://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
        </div>
          <div class="date-num">
              <p style="font-style: italic;">{{post.created_at | date: 'MMM d, y, h:mm a'}}</p>
          </div>
    </div>
    <div *ngIf="userService.isLoggedIn" class="buttons">
      <button (click)="likePost()" class="btn btn-primary" id="like">Like</button>
      <button *ngIf="post.user == currUser" (click)="navigateToPostEdit()" class="btn btn-primary" id="edit">Edit</button>
      <button *ngIf="post.user == currUser" (click)="deletePost()" class="btn btn-primary" id="delete">Delete</button>
    </div>
    <form class="add-comment">
      <h3>Add Comment</h3>
      <textarea id="form-control" cols="30" rows="10" placeholder="add a comment"></textarea>
      <button class="btn btn-primary" id="add-comment">Add Comment</button>
    </form>
    <div class="comments">
      <h3>Comments</h3>
        <div class="comment">
          <div class="comment-header">
            <div class="comment-user">
              <img src="https://cdn.britannica.com/58/129958-050-C3FE2DD2/Adolf-Hitler-1933.jpg">
              <p>User name</p>
            </div>
            <div class="info">
              <div class="comment-date">
                  <p>Published 6 hours ago</p>
                </div>
                <div class="comment-likes">
                  <p>307 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
                </div>
            </div>
          </div>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laudantium quaerat accusamus mollitia veniam provident illum ut
            vitae consectetur magnam voluptatum quibusdam, laborum esse deleniti
            maiores! Magnam reprehenderit praesentium dolores sit.
          </p>
        </div>
        <div class="comment">
          <div class="comment-header">
            <div class="comment-user">
              <img src="https://cdn.britannica.com/58/129958-050-C3FE2DD2/Adolf-Hitler-1933.jpg">
              <p>User name</p>
            </div>
            <div class="info">
              <div class="comment-date">
                  <p>Published 6 hours ago</p>
                </div>
                <div class="comment-likes">
                  <p>307 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
                </div>
            </div>
          </div>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laudantium quaerat accusamus mollitia veniam provident illum ut
            vitae consectetur magnam voluptatum quibusdam, laborum esse deleniti
            maiores! Magnam reprehenderit praesentium dolores sit.
          </p>
        </div>
        <div class="comment">
          <div class="comment-header">
            <div class="comment-user">
              <img src="https://cdn.britannica.com/58/129958-050-C3FE2DD2/Adolf-Hitler-1933.jpg">
              <p>User name</p>
            </div>
            <div class="info">
              <div class="comment-date">
                  <p>Published 6 hours ago</p>
                </div>
                <div class="comment-likes">
                  <p>307 <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
                </div>
            </div>
          </div>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laudantium quaerat accusamus mollitia veniam provident illum ut
            vitae consectetur magnam voluptatum quibusdam, laborum esse deleniti
            maiores! Magnam reprehenderit praesentium dolores sit.
          </p>
        </div>
        <div class="no-comments">
          <p>No comments yet!</p>
        </div>
    </div>
  </div>
  