<div class="post-wrap">
    <div class="post">
      <h3>{{post!.title}}</h3>
      <p>
        {{post!.description}}
      </p>
      <img src="{{post!.image}}" alt="">
    </div>
    <div class="stats">
        <div class="likes-num">
              <p>{{post!.likes.length}} <i class="fa-solid fa-heart"></i></p>
        </div>
        <div class="comments-num">
              <p>{{post!.comments.length}} <i class="fa-solid fa-comment"></i></p>
        </div>
          <div class="date-num">
              <p style="font-style: italic;">{{post!.created_at | date: 'MMM d, y, h:mm a'}}</p>
          </div>
    </div>
    <div *ngIf="userService.isLoggedIn" class="buttons">
      <button (click)="likePost(postId)" class="btn btn-primary" id="like">Like</button>
      <button *ngIf="post.user == currUser" (click)="navigateToPostEdit()" class="btn btn-primary" id="edit">Edit</button>
      <button *ngIf="post.user == currUser" (click)="deletePost()" class="btn btn-primary" id="delete">Delete</button>
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="commentPost(postId)" class="add-comment">
      <h3>Add Comment</h3>
      <textarea formControlName="content" id="form-control" cols="30" rows="10" placeholder="add a comment"></textarea>
      <button class="btn btn-primary" id="add-comment">Add Comment</button>
    </form>
    <!--*ngIf="post.comments.length != 0"
    
    *ngFor="let comment of post.comments"-->
    <div *ngIf="post.comments.length != 0" class="comments">
      <h3>Comments</h3>
      <div *ngFor="let comment of post.comments" class="comment">
        <div class="comment">
          <div class="comment-header">
            <div class="comment-user">
              <i class="fa-solid fa-circle-user fa-1x"></i>
              <p>{{comment.user}}</p>
            </div>
            <div class="info">
              <div class="comment-date">
                  <p>{{comment.created_at}}</p>
                </div>
            </div>
          </div>
          <p>
              {{comment.content}}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="post.comments.length == 0" class="no-comments">
      <p>No comments yet!</p>
    </div>
  </div>
  