
<div *ngIf="submitted && (form.invalid)" class="me">
    <p *ngIf="form.get('email')!.errors?.['required']">Email is required!</p>
    <p *ngIf="form.get('email')!.errors?.['email']">Email is invalid!</p>
    <p *ngIf="form.get('password')!.errors?.['required']">Password is required!</p>
    <p *ngIf="form.get('password')!.errors?.['minlength']">Password must be at least 6 characters!</p>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Register</h3>

    <div class="form-email">
        <label for="email">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-password">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="button-submit">
        <button type="submit" class="btn btn-primary">Log In!</button>
    </div>
    <div class="login">
        <p>Wait. You actually have an account? <a routerLink="/login">Log In</a></p>
    </div>
</form>