<header>
    <h1>Sport & Show Forum</h1>
    <nav>
        <ul>
            <!--if user--><li><a *ngIf="userService.isLoggedIn" (click)="userService.logout()">Logout</a></li>
            <li><a *ngIf="!userService.isLoggedIn" routerLink="/auth/login">Login</a></li>
            <li><a *ngIf="!userService.isLoggedIn" routerLink="/auth/register">Register</a></li>
            <!--if user--><li><a *ngIf="userService.isLoggedIn" routerLink="/auth/profile">Your Profile</a></li>
            <!--if user--><li><a *ngIf="userService.isLoggedIn" routerLink="/items/create">Create Post</a></li>
            <li><a routerLink="/items/all-posts">Home</a></li>
    </ul>
    </nav>
</header>
