<header>
    <h1>Sport & Show Forum</h1>
    <nav>
        <ul>
            <!--if user--><li><a *ngIf="userService.isLoggedIn" (click)="userService.logout()">Logout</a></li>
            <li><a *ngIf="!userService.isLoggedIn" routerLink="/login">Login</a></li>
            <li><a *ngIf="!userService.isLoggedIn" routerLink="/register">Register</a></li>
            <!--if user--><li><a *ngIf="userService.isLoggedIn" routerLink="/profile">{{userService.getUserEmail()}}</a></li>
            <!--if user--><li><a *ngIf="userService.isLoggedIn" routerLink="/create">Create Post</a></li>
            <li><a routerLink="all-posts">Home</a></li>
    </ul>
    </nav>
</header>
