header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    position: relative;
    /*padding: 20px;*/
    width: 100%;
    background-color: #128c22;
}
h1{
  color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #128d22;
}

ul { 
    list-style-type: none;
  }
  
li {
    float: right
  }
  
  li a {
    float: left;
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

a{
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 426px) {
  header{
    flex-direction: column;
  }
}