footer {
    flex-direction: row;
    justify-content: space-between;
    background-color: #128d22;
}
h3{
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul{
    display: none;
}

@media screen and (max-width: 426px) {
    h3{
        display:none;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 30px;
        padding: 0;
    }
    #special{
        font-size: 44px;
    }
    i{
        color: white;
    }
}