footer {
    flex-direction: row;
    justify-content: space-between;
    background-color: #128d22;
}
h3{
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul{
    display: none;
}

@media screen and (max-width: 426px) {
    footer{
        position: sticky;
        bottom: 0px;
        box-shadow: 0px 0px 33px 3px #919191;
    }
    h3{
        display:none;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 30px;
        padding: 5px;
        
    }
    #special{
        position: relative;
        bottom: 26px;
        font-size: 66px;
    }
    i{
        color: white;
        font-size: 22px;
    }
}