<div class="profile-wrap">
    <img src='https://www.pngkey.com/png/full/115-1150152_default-profile-picture-avatar-png-green.png' alt="porno">
    <div class="profile-info">
        <h3>{{user!.email}}</h3>
        <p>{{user!.description}}</p>
    </div>
    <div *ngIf="posts"></div>
        <div *ngFor="let post of posts" class="posts-wrap">
            <div class="post">
                <h3>{{post.title}}</h3>
                <div class="post-info">
                    <p>{{post.likes!.length}} <img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
                    <p> {{post.comments!.length}}<img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
                </div>
            </div>
        </div>
    <div *ngIf="posts == null" class="posts-none">
        <h3>No posts yet</h3>
    </div>
    
</div>