@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

.profile-wrap{
    position: relative;
    left: 500px;
    top: 100px;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #128d22;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 15px 15px 165px 15px;
}
.profile-wrap i{
    position: relative;
    top: -75px;
    color: #128d22;
}
.profile-info{
    position: relative;
    top: -75px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posts-wrap{
    position: relative;
    top: -75px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post{
    border: 2px solid #128d22;
    width: 90%;
    height: 70px;
    margin-bottom: 10px;
}
.post-info{
    position: relative;
    top: -45px;
    display: flex;
    flex-direction: row;
    float: right;
}
.post-info i{
    position: static;
    width: 30px;
    height: 30px;
}
.post-info p{
    margin: 10px;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
