<div class="profile-wrap">
    <img src='https://www.pngkey.com/png/full/115-1150152_default-profile-picture-avatar-png-green.png' alt="porno">
    <div class="profile-info">
        <h3>{{this.email}}</h3>
    </div>
    <div></div>
        <div class="posts-wrap">
            <div class="post">
                <h3>Hitlero</h3>
                <div class="post-info">
                    <p>70<img src="https://www.iconpacks.net/icons/2/free-heart-icon-3510-thumb.png"></p>
                    <p> 100<img src="http://cdn.onlinewebfonts.com/svg/img_420387.png"></p>
                </div>
            </div>
        </div>
    <div *ngIf="posts == null" class="posts-none">
        <h3>No posts yet</h3>
    </div>
    
</div>