<div class="profile-wrap">
    <i class="fa-solid fa-circle-user fa-8x"></i>
    <div class="profile-info">
        <h3>{{this.email}}</h3>
    </div>
    <div></div>
        <div class="posts-wrap">
            <div class="post">
                <h3>Hitlero</h3>
                <div class="post-info">
                    <p>70 <i class="fa-solid fa-heart"></i></p>
                    <p> 100 <i class="fa-solid fa-comment"></i></p>
                </div>
            </div>
        </div>
    <div *ngIf="posts == null" class="posts-none">
        <h3>No posts yet</h3>
    </div>
    
</div>