@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

.profile-wrap{
    position: relative;
    left: 450px;
    top: 100px;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #128d22;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 15px 15px 165px 15px;
}
.profile-wrap i{
    position: relative;
    top: -75px;
    color: #128d22;
}
.profile-info{
    position: relative;
    top: -75px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posts-wrap{
    position: relative;
    top: -75px;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post{
    border: 2px solid #128d22;
    width: 90%;
    height: 70px;
    margin-bottom: 10px;
}
.post-info{
    position: relative;
    top: -45px;
    display: flex;
    flex-direction: row;
    float: right;
}
.post-info i{
    position: static;
    width: 30px;
    height: 30px;
}
.post-info p{
    margin: 10px;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.post-info a{
    background-color: #128d22;
    border-radius: 10px;
    color: #fff;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 5px;
    margin-left: 40px;
}
.post-info a:hover{
    font-weight: bolder;
    background-color: #fff;
    color: #128d22;
}

@media screen and (max-width: 426px){
    .profile-wrap{ 
        position: relative;
        left: 0px;
        top: 70px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid #128d22;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        margin: 15px 15px 165px 15px;
    }
    .posts-wrap{
        position: relative;
        top: -75px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        display: flex;
        flex-direction: column;
        border: 4px solid #128d22;
        width: 240px;
        height: 60px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        padding-top: 20px;
        margin-left: 0px;
    }
    .post h3{
        color: #124d1b;
        font-size: 20px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        margin: 5px;
    }
    .post-info{
        position: relative;
        top: -55px;
        display: flex;
        flex-direction: row;
        float: right;
        margin-left: 150px;
        padding-top: 10px;
    }
    .post-info p[style="font-style: italic;"]{
        display: none;
    }
    .post-info p:nth-child(1){
        display: none;
    }
    .post-info p:nth-child(2){
        display: none;
    }
    .post-info a{
        position: relative;
        right: 5px;
        top: 5px;
    }
}